<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= link_to "Home", root_path %> <%= link_to "About Us", about_path %>
=======

>>>>>>> 0a5a7b9e2e27f296027e8f44b1af562414238e81
<%= yield %>

</body>
</html>
